# Seaborn

In [0]:
import pandas as pd

In [0]:
import seaborn as sns

In [0]:
sns.get_dataset_names()

In [0]:
df_fmri = sns.load_dataset('fmri', cache=True, data_home=None)

In [0]:
df_fmri.head()

In [0]:
subject_counts = df_fmri.subject.value_counts()

In [0]:
# custom_style = {'axes.labelcolor': 'black',
#                 'xtick.color': 'black',
#                 'ytick.color': 'black'}
# custom_colors = {
#     'axes.facecolor': 'black',
#     'axes.edgecolor': 'black',
#     'axes.labelcolor': 'black',
#     'grid.color': 'gray',
#     'xtick.color': 'black',
#     'ytick.color': 'black',
#     'text.color': 'black'
# }
# sns.set_style("whitegrid", rc=custom_colors)
# sns.set_style('whitegrid', {'axes.facecolor': '#000000'})  # Use your desired color

In [0]:
import matplotlib.pyplot as plt
plt.style.use("dark_background")

In [0]:
sns.barplot(x = subject_counts.index, y = subject_counts.values, data = df_fmri, palette = "Blues")

In [0]:
sns.countplot(x = "subject", data = df_fmri)

In [0]:
series_fmri = pd.DataFrame(df_fmri.sort_values('signal').reset_index().signal)

In [0]:
series_fmri

In [0]:
_= sns.lineplot(x = 'signal', y = series_fmri.index, data = series_fmri)

In [0]:
df_iris = sns.load_dataset('iris', cache=True, data_home=None)

In [0]:
df_iris

In [0]:

sns.regplot(x = "sepal_length", y = "sepal_width", data = df_iris)

In [0]:
# Create a histogram plot using Seaborn
sns.histplot(data=df_iris, x='sepal_length', bins=15, kde=False, palette = "OrRd")

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `histplot` (an axes-level function for histograms).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

In [0]:
# sns.displot(df_iris.sepal_length,color = "b",kde = True)
sns.displot(df_iris.sepal_length,color = "r",kde = True)

# Map and Lambda

In [0]:
print (list(map(len, ['Tina', 'Raj', 'Tom'])))

In [0]:
sum = lambda a, b, c: a + b + c
sum(1, 2, 3)

In [0]:
twice = lambda a : a + a
print(list(map(twice, [2,5])))

In [0]:
cube = lambda x: x * x * x # complete the lambda function

def fibonacci(n):
    # return a list of fibonacci numbers
    a = 0
    b = 1
    l = []
    if ( n == 0):
        pass
        # l.append(0)
    if ( n == 1 ):
        l.append(0)
        # l.append(1)
    if ( n != 0 and n != 1):
        l.append(0)
        l.append(1)
        for i in range(n-2):
            c = a + b
            b,a= c,b
            l.append(c)
    return (l)

print(list(map(cube, fibonacci(6))))

drop on axis == 1 in dataframe

In [0]:
# df = pd.DataFrame()
# df.drop(labels = flag_col, axis = 1)

In [0]:
def array_operations(arr):
    # Calculate the sum of the elements in the array
    sum_of_elements = sum(arr)

    # Find the maximum element in the array
    max_element = max(arr)

    # Find the minimum element in the array
    min_element = min(arr)

    # Calculate the average of the elements in the array
    average = sum_of_elements / len(arr)

    # Create a dictionary to store the results
    results = {
        'sum': sum_of_elements,
        'max': max_element,
        'min': min_element,
        'average': average
    }

    return results

# Example array
my_array = [10, 20, 30, 40, 50]

# Call the function with the array as an argument
result = array_operations(my_array)

# Print the results
print("Array Operations Results:")
print("Sum:", result['sum'])
print("Maximum:", result['max'])
print("Minimum:", result['min'])
print("Average:", result['average'])

In [0]:
import pandas as pd

# Create a sample DataFrame in wide format
data = {
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Math_Score': [90, 88, 75],
    'English_Score': [85, 92, 78],
    'Science_Score': [88, 90, 82]
}

df_wide = pd.DataFrame(data)

# Use pd.melt to reshape the DataFrame from wide to long format
df_long = pd.melt(df_wide, id_vars=['ID', 'Name'], var_name='Subject', value_name='Score')

print(df_long)

In [0]:
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Age': [25, 30, 22]})

# Use pd.merge to merge the DataFrames based on the 'ID' column
merged_df = pd.merge(df1, df2, on='ID', how='inner')

print(merged_df)

In [0]:
left_df = pd.merge(df1, df2, on='ID', how='left')

print(left_df)

# Apply and Group by

In [0]:
import pandas as pd
import numpy as np

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David','Alice', 'Bob', 'Charlie', 'David'],
    'Salary': [50000, 60000, 75000, 45000, 30000, 28000, 52000, 67000],
    'Age': [28, 35, 30, 22, np.nan, np.nan, np.nan, np.nan]
}

df = pd.DataFrame(data)

## fill in the Age column with age greater than one for the same employee
df['Age'] = df.groupby(['Name'])['Age'].transform(lambda x: x.fillna(x.mean()  + 1))

df

In [0]:
from datetime import datetime, timedelta
# create array of start date 4 times
start_date = datetime(2023, 1, 1)
date_list = [start_date for x in range(0, 4)]
# date_list
next_year_date = start_date + timedelta(days=365)
next_year_date_list = [next_year_date for x in range(0, 4)]
all_dates = date_list + next_year_date_list
# all_dates
df['Date'] = all_dates
print(df)

In [0]:
# Define additional data for three more months
additional_data = {
    'Name': ['Eva', 'Frank', 'Grace'],
    'Salary': [58000, 62000, 72000],
    'Age': [27, 34, 29],
    'Date': [start_date for i in range(4, 7)]  # Adding three more months
}

# Create a DataFrame for the additional data
additional_df = pd.DataFrame(additional_data)

# Concatenate the original DataFrame and the additional data
df = pd.concat([df, additional_df], ignore_index=True)

print(df)

**Example 1.1: Applying a Function to a Column:**

In [0]:
# Define a function to calculate the annual bonus based on salary
def calculate_bonus(salary):
    return salary * 0.1

# Apply the function to the 'Salary' column
df['Bonus'] = df['Salary'].apply(calculate_bonus)

**Example 1.2: Applying a Function to a Row:**

In [0]:
# Define a function to categorize employees based on age
def categorize_age(row):
    if row['Age'] <= 30:
        return 'Young'
    else:
        return 'Experienced'

# Apply the function to each row
df['Age Category'] = df.apply(categorize_age, axis=1)

**Example 2.1: Using Lambda with apply:**

In [0]:
# Calculate the tax for each employee's salary using a lambda function
df['Tax'] = df['Salary'].apply(lambda salary: salary * 0.2)

**Example 3.1: Using Applymap**

In [0]:
# Define a function to capitalize the names
def capitalize_name(name):
    return name.upper()

# Apply the function to all elements of the DataFrame
df['Name'] = df[['Name']].applymap(capitalize_name)

In [0]:
# Convert all elements of the 'Age' column to months using a lambda function
df['SalaryPerMonth'] = df[['Salary']].applymap(lambda var: round(var / 12,2))
print(df)

**Example 4.1: Group by**

In [0]:
# Group the DataFrame by "Age Category" and calculate the mean salary for each group
grouped = df.groupby('Age Category')['Name'].count()
print(grouped)

In [0]:
grouped_count = df.groupby('Name')['Salary'].mean()
print(grouped_count)